<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>lu1s9 blog</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbar-links">
          <li class="navbar-logo"><a href="{{config.base_url}}">lu1s9</a></li>
          <li class="navbar-link">
            <a href="https://github.com/lu1s9"
              ><i class="ri-github-fill"></i
            ></a>
          </li>
          <li class="navbar-link">
            <i class="ri-sun-fill"></i>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">{% block content %} {% endblock %}</div>
    <footer class="footer">
      <p class="footer-logo">lu1s9</p>
    </footer>
  </body>
</html>
